.DS_Store
.idea
*.log
*.tsbuildinfo
*.local

web/node_modules
web/.yarn
web/dist
web/dist-ssr
web/coverage
web/.vscode/*
!web/.vscode/extensions.json
web/.env

server/.gradle
server/.kotlin
server/build
server/database
server/service
server/bin/*
server/src/main/resources/static
server/.env
!server/gradle/wrapper/gradle-wrapper.jar

database/
service/
.cunzhi-memory/
