/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
