.page1 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #EEEEEE; */
  padding-top: 5vh;
}

.page1-avater {
  border-radius: 100%;
  width: 35vh;
  border: 10px solid #eeeeee;
  box-shadow: 1px 1px 1px 1px #aaaaaa55;
  cursor: pointer;
}

.page1-name {
  margin-top: 3vh;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: bold;
}

.page1-intro {
  margin-top: 3vw;
  font-size: 1.25rem;
  font-style: italic;
  color: gray;
}

.page1-btns {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

.page1-btns-item {
  cursor: pointer;
}

.page1-msg {
  width: 60vw;
  /* 文本居中 */
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #aaaaaa55;
}

.page2 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #EEEEEE; */
  padding-top: 5vh;
}

.page2-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.page2-intro {
  margin-top: 1.25rem;
  font-style: italic;
  color: gray;
  text-align: center;
  width: 60vw;
  padding-bottom: 2rem;
  border-bottom: 1px solid #aaaaaa55;
}

.page2-cards-list {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.page2-cards {
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
}

.page2-cards-words {
  padding: 1rem;
  width: 15vw;
  height: 12vw;
  border-radius: 10%;
  box-shadow:
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  /* display: flex; */
  flex-direction: column;
  word-wrap: break-word;
  box-sizing: border-box;
}

.page2-cards-item-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}

.page2-cards-item-intro {
  margin-top: 1rem;
  margin-bottom: 0;
}

.page2-cards-item-icon {
  position: absolute;
  right: -1.75vw;
  bottom: 3vw;
  font-size: 2rem;
  background-color: ;
  box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  border-radius: 100%;
}