.page1 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #EEEEEE; */
  padding-top: 5vh;
}

.page1-avater {
  border-radius: 100%;
  width: 35vh;
  border: 10px solid #eeeeee;
  box-shadow: 1px 1px 1px 1px #aaaaaa55;
  cursor: pointer;
}

.page1-name {
  margin-top: 3vh;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: bold;
}

.page1-intro {
  margin-top: 3vw;
  font-size: 1.25rem;
  font-style: italic;
  color: gray;
}

.page1-btns {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

.page1-btns-item {
  cursor: pointer;
}

.page1-msg {
  width: 60vw;
  /* 文本居中 */
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #aaaaaa55;
}

.page2 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #EEEEEE; */
  padding-top: 5vh;
}

.page2-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.page2-intro {
  margin-top: 1.25rem;
  font-style: italic;
  color: gray;
  text-align: center;
  width: 60vw;
  padding-bottom: 2rem;
  border-bottom: 1px solid #aaaaaa55;
}

.page2-cards-list {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.page2-cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: 10px solid #eeeeee;
  box-shadow: 1px 1px 1px 1px #aaaaaa55;
  cursor: pointer;
  word-wrap: break-word;
}
