.HomePage-notebox {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 3px;
  /* 外阴影 */
    box-shadow: 0 0 5px #ccc;
}
.note-inputbox {
  /* 最小宽度 */
  min-width: 400px;
  min-height: 100px;
  text-align: left;
  word-break: break-all;
  border: none;
  outline: none;
}
.note-input-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}
.note-input-btns-item2 {
    display: flex;
    align-items:center;
}
.note-input-btns-item1{
    display: flex;
    align-items:center;
}
